.filter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.search-sort-filter fieldset {
    border-color: #ff8c00;
    border-radius: 5px;
}
.__search-form {
    display: flex;
    column-gap: 2%;
}
#search-field {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.05em;
    font-size: 18px;
    width: 80%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #ff8c00;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

#search-submit {
    height: 42px;
    border: 2px solid #ff8c00;
    border-radius: 5px;
    background: #ff8c00;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.05em;
    font-size: 18px;
    cursor: pointer;
}
#search-submit:hover {
    border-color: black;
}
#search-submit:active {
    box-shadow: 0 0 1em #ff8c00;
}

.sort {
    cursor: pointer;
}
input[type="checkbox"] {
    cursor: pointer;
}
.sort-item {
    display: flex;
    align-content: center;
}
.filter-wrapper label {
    cursor: pointer;
}
.filter-item {
    display: flex;
    align-items: center;
}
.filter__price {
    padding: 35px;
}
.filter__availability {
    padding: 35px;
}
.filter__engineV {
    padding: 35px;
}
.noUi-target, .noUi-touch-area {
    cursor: pointer;
}
.noUi-connect {
    background: #ff8c00 !important;
}

.filter__button-clear {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.button-clear {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    height: 50px;
    width: 80%;
    border: 2px solid #ff8c00;
    border-radius: 5px;
    background: #ff8c00;
    cursor: pointer;
}
.button-clear:hover {
    border-color: black;
}
.button-clear:active {
    box-shadow: 0 0 1em #ff8c00;
}

input[type=radio]:checked + label{
    color: #ff8c00;
}

input[type=checkbox]:checked + label {
    color: #ff8c00;
}